@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

.aboutImage
{
    width:110%;
}
.aboutContanier
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    background-color: white;

}

.aboutinformation
{
    padding-right: 50px;
    
}

.title
{
    font-size: 40px;
    padding-bottom: 15px;
    color: gray;
    font-family: 'Ibarra Real Nova', serif;

}

.nameweb
{
    font-size: 50px;
    color: #007580;
    padding-bottom: 15px;
    font-family: 'Roboto Mono', monospace;

}

.description
{
    font-size: 20px;
    padding-bottom: 20px;
    color: gray;
    font-family: 'Ibarra Real Nova', serif;

}

.aboutbutton
{
    border: 1px solid black;
    color: #007580;
    padding: 2px 12px;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
}

.aboutbutton:hover{
    color: white;
    background-color: #007580;
}