.HomeBarContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.HomeBarContainer img{
    width: 33.2%
}

.centerImage
{
    width: 504px
}

.HomeBarContainer a{
    width:540.362px
}