@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
*{
    margin :0px;
    padding: 0px;
    box-sizing: border-box;
}

.topNav
{
    background-color: #007580;
    color: white;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 12px 0px;
    font-size: 17px;
}

.topNavContainer a{
    text-decoration: none;
}

.NavBarContainer
{
    /* border: 1px solid black ;  */
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding :21px 0px;
    background-color: #FCF9F4;
}

.NavLogo
{
    width: 400px;
}

.NavElements
{
    display: flex;
    gap :70px;
    color: #87896F;
    font-size: 19px;
    font-weight: 500    ;
}
.NavElements a
{
    transition-duration: 1s ;

}

.NavElements a:hover
{
    color: #007580;
}